/* cores
    verde: #01a755 == rgb(1,167,85);
    preto: #000 == rgb(0,0,0);
    branco: #fff == rgb(255,255,255);


    https://material.io/guidelines/components/cards.html#cards-usage
*/

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@font-face {
     font-family: Product Sans Regular;
     src: url('../fonts/Product Sans Regular.ttf')format('truetype');
}

body{
    font-family: 'Product Sans Regular' !important;
	/*background-color: rgba(0,0,0,.2);*/
}
::-moz-selection {
  color: #fff;
  background: rgba(1,167,85,.7);
}

::selection {
  color: #fff;
  background: rgba(1,167,85,.7);
}

header#box-topo {
    background-color: rgba(0,0,0,.8);
    /*background-color: rgba(0,0,0);*/
    padding: 5px;
}

header#box-topo div.dropdown-menu{
    background-color: rgb(51,51,51) !important;
}

header#box-topo div.dropdown-menu a{
    color: #fff;
}

a.dropdown-item:hover, a.dropdown-item:focus {
    color: #01a755 !important;
    text-decoration: underline;
    transition: all 0.1s linear;

}
.dropdown-divider-cacic {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,.6);
}

.navbar{
    max-height: 60px;
}

a#cacic-logo-navbar-cut{
    display: none;
}

a#cacic-logo-navbar-hide{
    display: inline-block;
    margin-right: 30px;
}

/*Media query 400px navbar*/
@media (max-width: 992px){
    .navbar {
        height: auto;
        max-height: 520px !important;
        -webkit-max-height: 420px !important;
    }

    a#cacic-logo-navbar-cut{
        display: inline-block !important;
    }

    a#cacic-logo-navbar-hide{
        display: none !important;
    }

    section.box-imagem h2{
        font-size: 56px !important;
    }

    section.box-imagem h3{
        font-size: 32px !important;
    }
    
    section#box-informativos h4#apresentacao-box{
        font-size: 36px !important;
    }

    section#box-informativos header.titulo-noticia{
        font-size: 24px;
        margin-top: 55px;
        margin-bottom: 10px;
    }

    section#box-informativos p{
        font-size: 18px;
    }
}

.navbar-green .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-green .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

a.nav-link {
    color: #fff;
    font-size: 18px;
}

.nav-link:hover {
    color: #01a755;
    transition: all 0.1s linear;
    text-decoration: underline;
}

a.cacic-logo img{
    margin: 0px 0px 0px 10px;
    margin-right: 150px;
}

ul#barra-menu li{
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

section.box-imagem {
    /*background-image: url("../img/ibilce_frente_blur.jpg");*/
    /*background-image: url("../img/cacic-ibilce-white.jpg");*/
    /*background-image: url("../img/escrito.jpg");*/
    background-image: url("../img/cacic_indio.png");
    background-color: rgb(1,167,85);
    height: 350px;
    width: 100%;
    background-position: center center;
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
    background-size: cover; 
        -o-background-size: cover;
}

section.box-imagem h2{
    padding-top: 5%;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 2px 1px #000;
    padding-top: 100px;
}

section.box-imagem h3{
    font-size: 36px;
    color: #fff;
    text-shadow: 1px 2px 1px #000;
}

img.logo-cacic-banner{
    width: 100px;
    height: auto;
}

section#box-informativos{
    margin-top: 20px;
    /*background-color: rgba(0,0,0,.9);*/
    /*color: #fff;*/
}

article.informativos-cacic{
    padding: 20px;
    box-shadow: 0px 0px 3px 0px #000;
}

article.informativos-cacic h4#titulo-informativo{
    padding: 8px;
}

article.informativos-cacic footer.rodape-aviso a{
    color: #01a755;
}
article.informativos-cacic footer.rodape-aviso,
article.noticias-cacic footer.rodape-noticia a:hover {
    color: #000;
    transition: color 0.2s linear;
}

section#box-informativos article.noticias-cacic{
    padding: 20px;
}

/*Agenda google*/
article.agenda-cacic iframe{
    border-width:0;
    width: 100%;
    height: 500px;
}

h4#titulo-noticia{
    font-weight: bold;
    font-size: 32px;
}

section#box-informativos header i{
    padding-top: 2px;
}

article.noticias-cacic header.titulo-noticia{
    font-size: 25px;
    font-weight: bold;
}

article.noticias-cacic h6{
    font-size: 15px;
    color: rgba(0,0,0,.5);
}
article.noticias-cacic p, h6, footer.rodape-noticia{
    margin-left: 15px;
}

footer.rodape-noticia a{
    color: #01a755;
}

/*RODAPE*/

footer.rodape-site{
    background-color: rgba(0,0,0,.8);
    color: #fff;
    margin-top: 50px;
}

footer.rodape-site h4{
    margin-top: 20px;
}

footer.rodape-site ul{
    list-style: none;
}

footer.rodape-site p{
    text-align: center;
}

footer.rodape-site a {
    color: #01a755;
}

footer.rodape-site a:hover {
    color: #fff;
    transition: color 0.2s linear;
}


article.agenda-cacic{
    margin-top: 20px;
}

table.tabela-agenda tr.bg-verde{
    color: #fff;
    background-color: rgba(1,167,85,.7);
}

table.tabela-agenda tr.bg-vermelho{
    color: #fff;
    background-color: rgba(255,0,0,.7);
}

table.tabela-agenda tr.bg-laranja{
    color: #fff;
    background-color: rgba(255,165,0,.7);
}

table.tabela-agenda tr.bg-verde{
    color: #fff;
    background-color: rgba(1,167,85,.7);
}

table.tabela-agenda tr.bg-azul{
    color: #fff;
    background-color: rgba(0,0,255,.7);
}

table.tabela-agenda tr.bg-preto{
    color: #fff;
    background-color: rgba(0,0,0,.6);
}
table.tabela-agenda tr.bg-branco{
    background-color: rgba(40,40,40,.5);
    color: #fff;
}

table.tabela-agenda td.tabela-semana {
    text-align: right;
}

table.tabela-agenda td.tabela-evento{
    /*text-align: justify;*/
}

/* PRODUTOS.HTML */
section#box-produtos{
    /*background-color: rgba(0,0,0,.7);*/
    margin-bottom: 50px;
}
section#box-produtos p{
    font-size: 1.2em;
    padding-left: 30px;
}

section#box-produtos h4{
    padding-left: 15px;
    margin-top: 25px;
    font-size: 2.0em;
}

section#box-produtos a{
    color: #01a755;
}

article.produto{
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    border: 1px rgba(0,0,0,.3);
    border-style: solid;
    /*border-radius: 7px 7px;*/
}

article.produto img.img-fluid{
    /*background-color: rgba(0,0,0,.2);*/
    width: 100%;
    height: 100%;
}

header.titulo-produto {
    /*padding: 10px*/
}

footer.rodape-produto {
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    padding-right: 10px;
    padding-bottom: 45px;
}

header.titulo-produto h5{
    padding: 5px;
    /*position: absolute;
    bottom: 120px;
    color: #fff;*/
    color: #000;
    font-size: 2em;
    /*font-weight: bold;*/
    /*text-shadow: 0px 0px 10px #000;*/
}

footer.rodape-produto p{
    color: #6f6f6f;
    font-size: 0.95em;
}

.btn-cacic-verde {
    text-transform: uppercase;
    background-color: #fff;
    color: #01a755;
}

.btn-cacic-verde-inverted {
    text-transform: uppercase; 
    color: #000;
    background-color:  #fff;
}

/* Contato */
section#box-contato h4{
    font-size: 2em;
}

article#texto-contato h5{
    font-size: 1.8em;
}

form#form-contato, article#texto-contato{
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-cacic-verde-primary{
    background-color: #01a755;
    color: #fff;
    border-color: #fff;
}

.btn-cacic-verde-primary:hover {
  color: #000;
  border-color: #0062cc;
}

.btn-cacic-verde-primary:focus, .btn-cacic-verde-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*Sobre*/
section#historia-cacic, section#membros-cacic{
    margin-top: 25px;
    margin-bottom: 25px;
}

section#historia-cacic h4{
    font-size: 2em;
}

section#historia-cacic h5{
    font-size: 1.6em;
}

article.gestao-cacic p{
    padding-left: 10px;
}

.lista-comissao{
    margin-bottom: 50px;
}

li.list-group-item.active{
    background-color: rgba(1,167,85,0.8);
    border-color: rgba(1,167,85,0.8);
}

/*ATAS*/
section#atas-cacic{
    margin-top: 50px;
}

section#atas-cacic article.atas h4, article.sobre-atas h4{
    font-size: 2em;
}

section#atas-cacic article.atas a{
    color: #000;
    text-transform: uppercase;
}

section#atas-cacic article.atas a:hover{
    color: #01a755;
    transition: color 0.2s linear;
}

/*BOX-EVENTOS*/
section#box-eventos h4{
    font-size: 2em;
    margin-top: 15px;
}

article.evento {
    margin-top: 30px;
}

article.evento p{
    padding-left: 10px;
}
article.evento img.img-evento{
    max-height: 350px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}
header.titulo-evento h5{
    font-size: 25px;
    font-weight: bold;
}