
{% extends "base.html" %}

{%block title%}CACIC Eventos{%endblock%}

{%block conteudo%}

<section id="box-eventos">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4>Eventos realizados pelo CACIC:</h4>
                    <!-- Lista de eventos -->
                    <article class="evento animated fadeIn">
                        <header class="titulo-evento">
                            <h5>ALGUMA POTTER FESTA - DD/MM/AAAA</h5>
                        </header>
                        <p class="text-justify">Com poucas palavras em uma madrugada das minhas férias, eu não tenho a menor idéia do que eu estou fazendo da minha vida e nem mesmo qual texto aleatório eu quero gerar. Mas no geral eu me esqueci de digitar Lorem e apertar TAB...</p>
                        <figure>
                            <img src="img/escrito.jpg" class="img-fluid img-evento" alt="" title="">
                            <figcaption>Legenda festa com o link do <a href="#" title="Acessar página do evento">evento no facebook</a></figcaption>
                        </figure>
                    </article>
                    <article class="evento animated fadeIn">
                        <header class="titulo-evento">
                            <h5>ALGUMA POTTER FESTA - DD/MM/AAAA</h5>
                        </header>
                        <p class="text-justify">Com poucas palavras em uma madrugada das minhas férias, eu não tenho a menor idéia do que eu estou fazendo da minha vida e nem mesmo qual texto aleatório eu quero gerar. Mas no geral eu me esqueci de digitar Lorem e apertar TAB...</p>
                        <figure>
                            <img src="img/escrito.jpg" class="img-fluid img-evento" alt="" title="">
                            <figcaption>Legenda festa com o link do <a href="#" title="Acessar página do evento">evento no facebook</a></figcaption>
                        </figure>
                    </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{%endblock%}
