{% extends "base.html" %}


{%block title%}Form{%endblock%}


{%block head%}

	{{ pagedown.include_pagedown() }}

<style type="text/css">
	
	textarea{

		width:100%;
	}
</style>

<style></style>
{%endblock%}


{%block conteudo%}

<div class="container">
    <div class="row">
    	<section class="col animated fadeIn"  style="margin:1em">
	    <form method="POST">
	    	<h6> Titulo</h6>
	        <div style="max-height: 1.5em; font-weight: bold;word-wrap: break-word;font-size: larger;">
	        	{{ form.title(only_input=True, rows=1) }}
	        </div>

	        <br/>
	        <h6> Post:</h6>
	        
	        {{ form.pagedown(only_input=True, rows=10) }}
	    	<div style="background-color: #d5e1df;min-height: 1em; margin-bottom: 1em;">
	    <article class="noticias-cacic" >
	        <header class="titulo-noticia">{{ form.title(only_preview=True) }}</header>
	        {{ form.pagedown(only_preview=True) }}
	    	</div>
	        {{ form.submit }}

		</article>
	    </form>
	</section>
	</div>
</div>

<!--
Para o tab ser tab dentro da area de texto:

https://stackoverflow.com/questions/6637341/use-tab-to-indent-in-textarea

talvesz da pra fazer direto no pagedown...
-->
<script type="text/javascript">

var textareas = document.getElementsByTagName('textarea');
var count = textareas.length;
for(var i=0;i<count;i++){
    textareas[i].onkeydown = function(e){
        if(e.keyCode==9 || e.which==9){
            e.preventDefault();
            var s = this.selectionStart;
            this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
            this.selectionEnd = s+1; 
        }
    }
}
</script>
{%endblock%}