{% extends "base.html" %}

{%block title%}CACIC{%endblock%}

{%block conteudo%}



    <section id="box-informativos">
        <div class="container">
            <div class="row">

                <div class="col-md-8 float-left animated fadeIn">
                    <article class="noticias-cacic">
                        <h4 id="titulo-noticia">Notícias Cacic:</h4>
                        <header class="titulo-noticia">O Cacic agora tem twitter!!!</header>
                        <h6>Adicionado dia 12/04/2018 as 23:00</h6>
                        <p class="text-justify">Você sabia que agora o Cacic tem um twitter? Garanto que não pois não tinhamos mesmo!!!</p>
                        <p class="text-justify">Já estava na hora de compartilhar muita zoeira mas também notícias sérias. Esta é mais uma maneira de aproximar o Centro Acadêmico dos graduandos em Ciências da Computação e Estatística. Para conferir a novidade vamos deixar aqui embaixo um link para você conferir:</p>
                        <footer class="rodape-noticia">
                            <a href="https://twitter.com/Cacic_ibilce" target="_blank" title="Conheça o nosso Twitter!">Acesse o nosso Twitter</a>
                        </footer>
                    </article>

                    <article class="noticias-cacic animated fadeIn">
                        <header class="titulo-noticia">Notícia</header>
                        <h6>Adicionado dia 00/00/2018 as 00:00</h6>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quia dolorem magni ipsam at facilis sit laudantium modi corporis, voluptates cum voluptas provident dolore, accusamus ad veniam porro quasi minus!</p>
                        <p class="text-justify">Alcatra cupim bresaola, jowl tri-tip shank t-bone meatball pastrami flank beef pig swine. Chicken buffalo pastrami, short loin turkey sirloin pancetta jowl. Shankle filet mignon pastrami, venison bacon biltong pork belly drumstick beef ribs porchetta sausage andouille ham. Shoulder hamburger burgdoggen landjaeger doner capicola drumstick sausage pastrami corned beef andouille kielbasa tri-tip jowl. Strip steak chicken pastrami salami ball tip doner boudin.</p>
                        <footer class="rodape-noticia">
                            <a href="#" title="#">Link noticia</a>
                        </footer>
                    </article>

                    <article class="noticias-cacic animated fadeIn">
                        <header class="titulo-noticia">Notícia</header>
                        <h6>Adicionado dia 00/00/2018 as 00:00</h6>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quia dolorem magni ipsam at facilis sit laudantium modi corporis, voluptates cum voluptas provident dolore, accusamus ad veniam porro quasi minus!</p>
                        <p class="text-justify">Meatball buffalo pork belly, short ribs porchetta shank shankle tongue cow brisket leberkas. Short loin pig tail pork short ribs buffalo ham hock turducken. Strip steak meatloaf pork belly burgdoggen filet mignon porchetta ham hock. Cupim tongue beef ribs kielbasa, leberkas brisket andouille rump turkey sausage ribeye short ribs pancetta.</p>
                        <footer class="rodape-noticia">
                            <a href="#" title="#">Link noticia</a>
                        </footer>
                    </article>
                </div>

               <div class="col-md-4 float-right">
                    <article class="agenda-cacic animated bounceInRight">
                        <iframe src="https://calendar.google.com/calendar/b/2/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=DAY&amp;wkst=1&amp;hl=pt_BR&amp;src=cacic.unesp%40gmail.com&amp;ctz=America%2FSao_Paulo" style="border-width:0; width: 100%;height: 600px;" frameborder="0" scrolling="no"></iframe>
                    </article>
                </div>
s
            </div>
        </div>
    </section>
{%endblock%}
