{% extends "base.html" %}

{%block title%}CACIC{%endblock%}

{%block conteudo%}



    <section id="box-informativos">
        <div class="container">
            <div class="row">
                <div class="col-md-8 float-left animated fadeIn">

 
                {% for noticia in noticias %}
                
                <div class="col-md-8 float-left animated fadeIn">
                    <article class="noticias-cacic">
                        <header class="titulo-noticia">{{noticia.titulo}}</header>
                        <h6>Adicionado dia {{noticia.data}} as {{noticia.hora}}</h6>
                            {{ noticia.html|safe }}
                    </article>
                </div>


                {% endfor %}
                </div>
            <!-- AGENDA -->


               <div class="col-md-4 float-right">
                    <article class="agenda-cacic animated bounceInRight">
                        <iframe src="https://calendar.google.com/calendar/b/1/embed?mode=AGENDA&amp;height=500&amp;wkst=1&amp;hl=pt_BR&amp;bgcolor=%23FFFFFF&amp;src=cacic.unesp%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FSao_Paulo" style="border-width:0; width: 100%;height: 600px;" frameborder="0" scrolling="no"></iframe>
                    </article>
                </div>
            </div>
        </div>
    </section>
{%endblock%}
