{% extends "base.html" %}

{%block title%}CACIC Loja{%endblock%}

{%block conteudo%}

<section id="box-produtos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Produtos em destaque:</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                    <div class="col-md-3 col-12 col-sm-6">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-12 col-sm-6">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                    <div class="col-md-3 col-12 col-sm-6">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                    <div class="col-md-3 col-12 col-sm-6">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                    <div class="col-md-3 col-12 col-sm-6">
                        <article class="produto animated zoomIn">
                            <article class="corpo-produto">
                                <img src="img/testeimg_fundo-335x250.jpg" alt="" class="img-fluid">
                            </article>
                            <header class="titulo-produto">
                                <h5>Teste</h5>
                            </header>
                            <footer class="rodape-produto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- <button type="button" class="btn btn-cacic-verde-inverted float-right">More option</button> -->
                                <button type="button" class="btn btn-cacic-verde float-right">Link</button>
                            </footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}