{% extends "base.html" %}

{%block title%}CACIC Sobre{%endblock%}

{%block conteudo%}

<section id="box-sobre">
    <div class="container">
        <div class="row">
            <section class="col-md-8 animated fadeIn">
                <section id="historia-cacic">
                    <header>
                        <h4>Conheça um pouco da nossa história e quem nós somos</h4>
                    </header>
                    <article>
                        <h5>O início:</h5>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis deleniti quod nobis, laboriosam ipsum. Libero hic labore, cum, dolorum deserunt nihil. Excepturi illo, explicabo quod dolorum, doloremque adipisci dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum adipisci excepturi praesentium corrupti aliquid, fugiat velit, quos hic doloribus maxime voluptatum tempora repudiandae iusto nostrum commodi quas soluta sunt? Sint.</p>

                        <figure>
                            <img src="img/frente_ibilce.jpg" class="img-fluid" alt="" title="">
                            <figcaption>Legenda imagem</figcaption>
                        </figure>
                        <h5>A diretoria 2k18:</h5>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis deleniti quod nobis, laboriosam ipsum. Libero hic labore, cum, dolorum deserunt nihil.</p>

                        <figure>
                            <img src="img/frente_ibilce.jpg" class="img-fluid" alt="" title="">
                            <figcaption>Legenda imagem</figcaption>
                        </figure>
                    </article>
                </section>
            </section>
            <section class="col-md-4 animated bounceInRight" id="membros-cacic">
                <header>
                    <h5>Membros Cacic:</h5>
                </header>
                <table class="table table-hover tabela-membros-cacic">
                    <thead>
                        <tr>
                            <th scope="col">Membro</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">RA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Cleiton</th>
                            <td scope="row">The President</td>
                            <td scope="row">xxxxxx</td>
                        </tr>
                        <tr>
                            <th scope="row">Jailson</th>
                            <td scope="row">Sec dos banco</td>
                            <td scope="row">xxxxxx</td>
                        </tr>
                        <tr>
                            <th scope="row">Lion</th>
                            <td scope="row">Sec das Armas</td>
                            <td scope="row">xxxxxx</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</section>
{%endblock%}