{% extends "base.html" %}

{%block title%}CACIC Sobre{%endblock%}

{%block conteudo%}

<section id="box-sobre">
    <div class="container">
        <div class="row">
            <section class="col-md-8 animated fadeIn">
                <section id="historia-cacic">
                    <h1>{{cacic_sobre.titulo|safe}}</h1>
                    <p class="text-justify">
                        {{cacic_sobre.html | safe}}
                    </p>
                    <hr/>
                    <h4>Gestões do CACIC:</h4>
                    <article class="gestao-cacic">
                        <header>
                            <h5>Gestão 2018:</h5>
                        </header>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis deleniti quod nobis, laboriosam ipsum. Libero hic labore, cum, dolorum deserunt nihil.</p>
                        <p>Comissão:</p>
                        <ul class="list-group lista-comissao">
                            <li class="list-group-item active">The Lord of the Rings - The President</li>
                            <li class="list-group-item">Star Wars - Vice Prisident</li>
                            <li class="list-group-item">Interestellar - Coordenator</li>
                            <li class="list-group-item">Other there ? - I don't know</li>
                            <li class="list-group-item">Maybe other thing - I don't know too</li>
                        </ul>
                    </article>
                </section>
            </section>
        </div>
    </div>
</section>
{%endblock%}